*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    overflow-x: unset;
}
html{
    letter-spacing: 0;
    line-height: 30px;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}