*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
}
html{
    letter-spacing: 0;
    line-height: 30px;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
#color{
    color: $unico;
}

.galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 20px;
    background-color: $fondounico;
}
#logotipo{
    width: 20px;
    height: 20px;
}
#icon-vavio{
    width: 50px;
    height: 50px;
    
}