.main-favoritos{
    .misfavoritos{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 50px 100px 50px;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            padding: 50px 0;
            
            h2{
                width:100%;
                text-align: center;
                color: $colortitulos;
                font-family: $fonttitulos;
                font-weight: 800;
                font-size: 25px;    
            }
            .ancho{
                width: 70%;
            }
        }
    }
    .galeria{
        h2{
            width: 100%;
            padding: 10px;
            text-align: center;
            color: $colortitulos;
            font-family: $fontsubtitulos;
            font-size: 25px;        
        }
        p{
            width: 50%;
            text-align: center;
            color: $colorparrafos;
            font-family: $fontparrafos;
            font-size: 18px;
        }
        .slider {
            width: 85%;
            overflow: hidden;
            ul {
                display: flex;
                padding: 0;
                width: 320%;
                
                animation: cambio 20s infinite alternate linear;
                
                li {
                    width: 100%;
                    list-style: none;
                    img {
                        width: 200px;
                        height: 150px;
                        padding: 10px;
                        z-index: -1;   
                    }
                    h6{
                        font-family: $fontparrafos;
                        color: $colortitulos;
                        text-align: center;
                    }
                }
            }
        }
        @keyframes cambio {
            0% {margin-left: 0;}
            20% {margin-left: 0;}
            
            25% {margin-left: -100%;}
            45% {margin-left: -100%;}
            
            50% {margin-left: -200%;}
            70% {margin-left: -200%;}
            
            75% {margin-left: -300%;}
            100% {margin-left: -300%;}
        }
    }
}