.main-home{
    width: 100%;
    .titulo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 15px 20px;
        h1{
            width: 100%;
            text-align: center;
            flex-wrap: wrap;
            color: $colortitulos;
            font-family: $fonttitulos;
            font-size: 2.5em;
            padding: 30px 50px;
        }
    }
    .buscador{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 15px 20px;
        img{
            width: 80%;
            padding: 0 5px;
        }
        div{
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            input{
                position: relative;
                left: 5%;
                width: 85%;
                border-radius: 10px;
                border: solid $colortitulos .5px;
                font-family: $fontparrafos;
                font-size: 18px;
                padding: 5px 25px;
            }    
            i{
                position: relative;
                z-index: 1;
                color: $colortitulos;
                padding: 5px;
            }
        }
        .resultsearch{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            div{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                width: 30%;
                img{
                    width: 200px;
                    height: 200px;
                    padding: 10px;
                }
                h6{
                    font-family: $fontparrafos;
                    color: $colortitulos;
                    text-align: center;
                }
            }
        }
        .moresearch{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            input{
                width: 20%;
                background-color: transparent;
                font-family: $fontsubtitulos;
                color: $colortitulos;
                font-size: 16px;
            }
        }    
    }
    .mas{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px 20px;
        h3{
            width: 100%;
            padding: 20px;
            text-align: center;
            color: $colortitulos;
            font-family: $fontsubtitulos;
            font-size: 20px;
            text-decoration: dotted;
            
        }
        p{
            width: 60%;
            text-align: center;
            color: $colortitulos;
            font-family: $fontsubtitulos;
            font-size: 18px;
        }
        
    }
    .galeria{
        h2{
            width: 100%;
            padding: 10px;
            text-align: center;
            color: $colortitulos;
            font-family: $fontsubtitulos;
            font-size: 25px;        
        }
        p{
            width: 50%;
            text-align: center;
            color: $colorparrafos;
            font-family: $fontparrafos;
            font-size: 18px;
        }
        .slider {
            width: 85%;
            overflow: hidden;
            ul {
                display: flex;
                padding: 0;
                width: 320%;
                
                animation: cambio 20s infinite alternate linear;
                
                li {
                    width: 100%;
                    list-style: none;
                    img {
                        width: 200px;
                        height: 150px;
                        padding: 5px;
                    }
                    h6{
                        font-family: $fontparrafos;
                        color: $colortitulos;
                        text-align: center;
                    }
                }
            }
        }
        @keyframes cambio {
            0% {margin-left: 0;}
            20% {margin-left: 0;}
            
            25% {margin-left: -100%;}
            45% {margin-left: -100%;}
            
            50% {margin-left: -200%;}
            70% {margin-left: -200%;}
            
            75% {margin-left: -300%;}
            100% {margin-left: -300%;}
        }
    }
}
@media screen and (min-width: 1000px){
    .main-home{
        .titulo{
            padding: 30px 250px;
            h1{
                width: 65%;
            }
        }
        .buscador{
            img{
                width: 40%;
            }
            div{
                input{
                    width: 50%;
                    position: relative;
                    left: 25%;
                }
                i{
                    position: relative;
                    left: 22%;
                }
            }   
        }
    }
}