//colores
$colortitulos: #572DE6;
$unico:#5ED7C6;
$colorparrafos:#000000;
$colorseleccion: #9dafc4;
//fonts
$fonttitulos:'Montserrat', sans-serif;
$fontparrafos:'Roboto',sans-serif;
$fontsubtitulos: 'Montserrat', sans-serif;
//fondos
$fondogeneral:#FFFFFF;
$fondounico: #F3F5F8;
