@charset "UTF-8";
/*variables*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
/*estilos generales*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  letter-spacing: 0;
  line-height: 30px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

#color {
  color: #5ED7C6;
}

.galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 20px;
  background-color: #F3F5F8;
}

#logotipo {
  width: 20px;
  height: 20px;
}

#icon-vavio {
  width: 50px;
  height: 50px;
}

.oscuro {
  background-color: #1f1f1f;
}

.oscuro h1 {
  color: #FFFFFF;
}

.oscuro h2 {
  color: #FFFFFF;
}

.oscuro h3 {
  color: #FFFFFF;
}

.oscuro p {
  color: #FFFFFF;
}

.oscuro a {
  color: #FFFFFF;
}

.oscuro button {
  color: #FFFFFF;
}

.seleccion-menu {
  color: #9dafc4;
}

.nocturna {
  display: none;
}

.backgroundImages {
  filter: #000000;
  -webkit-filter: hue-rotate(278deg);
  width: 100%;
  height: 100%;
}

/*header*/
.header-home {
  width: 100%;
}

.header-home .encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.header-home .encabezado .logo {
  width: 15%;
}

.header-home .encabezado nav .menu {
  padding-top: 3px;
  /*span -lineas del menu hamburguesa-*/
  /*movimiento a cruz*/
}

.header-home .encabezado nav .menu ul {
  width: 100%;
  position: absolute;
  top: 45px;
  right: 0;
  font-size: 15px;
  overflow: hidden;
  list-style: none;
  background: rgba(87, 46, 229, 0.8);
  height: 0px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

.header-home .encabezado nav .menu ul li {
  position: relative;
}

.header-home .encabezado nav .menu ul li a {
  position: relative;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  padding: 16px 5%;
  line-height: 28px;
  display: block;
}

.header-home .encabezado nav .menu input[type="checkbox"]:checked ~ ul {
  height: 100%;
  transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
}

.header-home .encabezado nav .menu input {
  display: block;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute;
}

.header-home .encabezado nav .menu span {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 6.5px;
  margin-right: 10px;
  position: relative;
  background: #572DE6;
  z-index: 1;
  -webkit-transform-origin: 3px 0px;
          transform-origin: 3px 0px;
  -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.55s ease;
  transition: transform 0.5s ease, opacity 0.55s ease, -webkit-transform 0.5s ease;
}

.header-home .encabezado nav .menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.header-home .encabezado nav .menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.header-home .encabezado nav .menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

.header-home .encabezado nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.header-home .encabezado nav .menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, 0px);
          transform: rotate(-45deg) translate(1px, 0px);
}

@media screen and (min-width: 1000px) {
  .header-home .encabezado {
    padding: 30px 100px;
  }
  .header-home .encabezado nav .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    background-color: #FFFFFF;
    overflow: hidden;
    background: unset;
    height: unset;
    position: unset;
    padding: 5px;
  }
  .header-home .encabezado nav .menu ul li {
    padding: 3px 5px;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .header-home .encabezado nav .menu ul li a {
    color: #572DE6;
    padding: unset;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    padding-right: 48px;
    line-height: unset;
    position: unset;
  }
  .header-home .encabezado nav .menu ul li a button {
    color: #572DE6;
  }
  .header-home .encabezado nav .menu ul li a .circulo {
    position: relative;
    bottom: 8px;
    width: 50px;
    height: 50px;
    border: 1px solid #572DE6;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .header-home .encabezado nav .menu input {
    display: none;
  }
  .header-home .encabezado nav .menu span {
    display: none;
  }
}

/*main*/
.main-home {
  width: 100%;
}

.main-home .titulo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 20px;
}

.main-home .titulo h1 {
  width: 100%;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #572DE6;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  padding: 30px 50px;
}

.main-home .buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 20px;
}

.main-home .buscador img {
  width: 80%;
  padding: 0 5px;
}

.main-home .buscador div {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-home .buscador div input {
  position: relative;
  left: 5%;
  width: 85%;
  border-radius: 10px;
  border: solid #572DE6 0.5px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 5px 25px;
}

.main-home .buscador div input :focus {
  border: none;
}

.main-home .buscador div i {
  position: relative;
  z-index: 1;
  color: #572DE6;
  padding: 5px;
}

.main-home .buscador div .autocompletar {
  position: relative;
  left: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background: #F3F5F8;
  border-radius: 10px;
  width: 80%;
}

.main-home .buscador div .autocompletar li {
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.main-home .buscador .resultsearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-home .buscador .resultsearch ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.main-home .buscador .resultsearch ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.main-home .buscador .resultsearch ul li img {
  width: 250px;
  height: 250px;
  padding: 10px;
}

.main-home .buscador .resultsearch ul li h6 {
  font-family: "Roboto", sans-serif;
  color: #572DE6;
  text-align: center;
}

.main-home .buscador .resultsearch ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
}

.main-home .buscador .resultsearch ul li div img {
  position: relative;
  width: 32px;
  height: 32px;
  padding: 2px;
  top: 30px;
  right: 40%;
}

.main-home .buscador .moresearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.main-home .buscador .moresearch input {
  position: unset;
  width: 20%;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  color: #572DE6;
  font-size: 16px;
}

.main-home .mas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 20px;
}

.main-home .mas h3 {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #572DE6;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

.main-home .mas p {
  width: 60%;
  text-align: center;
  color: #572DE6;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.main-home .galeria h2 {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #572DE6;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.main-home .galeria p {
  width: 50%;
  text-align: center;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.main-home .galeria .slider {
  width: 85%;
  overflow: hidden;
}

.main-home .galeria .slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 320%;
  -webkit-animation: cambio 20s infinite alternate linear;
          animation: cambio 20s infinite alternate linear;
}

.main-home .galeria .slider ul li {
  width: 100%;
  list-style: none;
}

.main-home .galeria .slider ul li img {
  width: 200px;
  height: 150px;
  padding: 10px;
}

.main-home .galeria .slider ul li h6 {
  font-family: "Roboto", sans-serif;
  color: #572DE6;
  text-align: center;
}

.main-home .galeria .slider ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
}

.main-home .galeria .slider ul li div img {
  position: relative;
  width: 32px;
  height: 32px;
  padding: 2px;
  bottom: 175px;
  right: 60%;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@media screen and (min-width: 1000px) {
  .main-home .titulo {
    padding: 30px 250px;
  }
  .main-home .titulo h1 {
    width: 65%;
  }
  .main-home .buscador img {
    width: 40%;
  }
  .main-home .buscador div input {
    width: 50%;
    position: relative;
    left: 25%;
  }
  .main-home .buscador div i {
    position: relative;
    left: 22%;
  }
  .main-home .buscador div .autocompletar {
    position: relative;
    left: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background: #F3F5F8;
    width: 50%;
  }
  .main-home .buscador div .autocompletar li {
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
  .main-home .resultsearch {
    width: 90%;
  }
  .main-home .resultsearch ul {
    width: 70%;
  }
  .main-home .resultsearch ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
  }
  .main-home .resultsearch ul li img {
    width: 250px;
    height: 250px;
    padding: 10px;
  }
  .main-home .resultsearch ul li h6 {
    font-family: "Roboto", sans-serif;
    color: #572DE6;
    text-align: center;
  }
  .main-home .resultsearch ul li div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
  }
  .main-home .resultsearch ul li div img {
    position: absolute;
    width: 32px;
    height: 32px;
    padding: 2px;
    top: 230px;
  }
}

/*footer*/
.footer-home {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.footer-home div p {
  width: 100%;
  text-align: center;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  padding: 10px;
}

.footer-home div ul {
  padding: 10px;
}

.footer-home div ul li {
  display: inline-block;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
}

.footer-home div ul li a {
  padding: 10px;
  color: #CDD6E0;
}

.footer-home span {
  text-align: center;
  width: 100%;
  padding: 10px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

@media screen and (min-width: 1000px) {
  .footer-home {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    padding: 30px 146px;
  }
  .footer-home div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer-home div p {
    width: 50%;
    text-align: unset;
    padding: 5px;
  }
  .footer-home div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
  }
  .footer-home div ul li {
    display: inline-block;
  }
  .footer-home span {
    text-align: right;
  }
}

/*ESTilos CÁMARA*/
.main-camara section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-camara section .logocamara {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
}

.main-camara section .logocamara img {
  width: 70%;
  height: 90%;
}

.main-camara section .logocamara .clip {
  background-image: -webkit-gradient(linear, left top, right top, from(#4FE3C1), to(#FFFFFF));
  background-image: linear-gradient(to right, #4FE3C1, #FFFFFF);
  -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 70%);
          clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 70%);
  height: 25%;
  width: 50%;
  margin: 3px;
}

.main-camara section .creargifo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding: 20px 20px 0 20px;
}

.main-camara section .creargifo .contenedor-camara {
  width: 100%;
  border: solid #572DE6 1px;
  padding: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-camara section .creargifo .contenedor-camara .video {
  display: none;
}

.main-camara section .creargifo .contenedor-camara div h1 {
  width: 100%;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #572DE6;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  padding: 30px 50px;
}

.main-camara section .creargifo .contenedor-camara div p {
  text-align: center;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.main-camara section .creargifo .lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 100px;
}

.main-camara section .creargifo .lista ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-camara section .creargifo .lista ul li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #572DE6;
  color: #572DE6;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin: 10px;
}

.main-camara section .pelicula {
  width: 25%;
  padding: 40px;
}

.main-camara section .pelicula img {
  position: relative;
  top: 350px;
}

.main-camara section .comenzar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-camara section .comenzar span {
  width: 55%;
  height: 10px;
  background-color: #572DE6;
  border-radius: 5px;
}

.main-camara section .comenzar a {
  width: 10%;
  border: 1.3px solid #572DE6;
  border-radius: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #572DE6;
  padding: 5px;
  margin: 20px;
}

/*estilos MIS GIFOS*/
.main-misgifos .gifguardados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 50px 100px 50px;
}

.main-misgifos .gifguardados div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.main-misgifos .gifguardados div h2 {
  width: 100%;
  text-align: center;
  color: #572DE6;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 25px;
  padding: 20px;
}

.main-misgifos .galeria h2 {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #572DE6;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.main-misgifos .galeria p {
  width: 50%;
  text-align: center;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.main-misgifos .galeria .slider {
  width: 85%;
  overflow: hidden;
}

.main-misgifos .galeria .slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 320%;
  -webkit-animation: cambio 20s infinite alternate linear;
          animation: cambio 20s infinite alternate linear;
}

.main-misgifos .galeria .slider ul li {
  width: 100%;
  list-style: none;
}

.main-misgifos .galeria .slider ul li img {
  width: 200px;
  height: 150px;
  padding: 10px;
  z-index: -1;
}

.main-misgifos .galeria .slider ul li h6 {
  font-family: "Roboto", sans-serif;
  color: #572DE6;
  text-align: center;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/*estilos Favoritos*/
.main-favoritos .misfavoritos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 50px 100px 50px;
}

.main-favoritos .misfavoritos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
}

.main-favoritos .misfavoritos div h2 {
  width: 100%;
  text-align: center;
  color: #572DE6;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 25px;
}

.main-favoritos .misfavoritos div .ancho {
  width: 70%;
}

.main-favoritos .galeria h2 {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #572DE6;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.main-favoritos .galeria p {
  width: 50%;
  text-align: center;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.main-favoritos .galeria .slider {
  width: 85%;
  overflow: hidden;
}

.main-favoritos .galeria .slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 320%;
  -webkit-animation: cambio 20s infinite alternate linear;
          animation: cambio 20s infinite alternate linear;
}

.main-favoritos .galeria .slider ul li {
  width: 100%;
  list-style: none;
}

.main-favoritos .galeria .slider ul li img {
  width: 200px;
  height: 150px;
  padding: 10px;
  z-index: -1;
}

.main-favoritos .galeria .slider ul li h6 {
  font-family: "Roboto", sans-serif;
  color: #572DE6;
  text-align: center;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/*# sourceMappingURL=style.css.map */